<!DOCTYPE html>
<html>
<head>
    <title>Shopping - Add review</title>
</head>
<body>
    <h1>Add review for {{ product.name }} </h1>
    {% if messages %}
        {% for message in messages %}
            <p{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</p>
        {% endfor %}
    {% endif %}
    <form method="post">
        {% csrf_token %}
        <label>review:</label>
        <textarea name="comment" required></textarea><br>
        <label>rating (1-5):</label>
        <select name="rating" required>
            {% for i in "12345" %}
                <option value="{{ i }}">{{ i }} star</option>
            {% endfor %}
        </select><br>
        <button type="submit">Submit review</button>
    </form>
    <p><a href="{% url 'product_detail' product.id %}">Return to product details</a></p>
</body>
</html>